<div class="card">
  <div class="singerInfo">
    <nz-avatar
      [nzSize]="64"
      nzIcon="user"
      [nzSrc]="singer.avatar"
  ></nz-avatar>
      <div>{{singer.name}} (<strong>{{singer.nickname}}</strong>)</div>
    <div>{{singer.gender}}性</div>
    <div>{{singer.birth | date:'yyyy/MM/dd'}} ({{singer.birth | date:'yyyy' | age}}歲)</div>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="singerHandler(singer.id)"
    >
      <i nz-icon nzType="search"></i>
    </button>
  </div>
</div>
