<div class="card">
  <div class="singerInfo">
    <nz-avatar
      [nzSize]="64"
      nzIcon="user"
      [nzSrc]="singer.avatar"
  ></nz-avatar>
    <div>{{singer.name}} (<strong>{{singer.nickname}}</strong>)</div>
    <div>{{singer.gender}}性</div>
    <div>{{singer.birth | date:'yyyy/MM/dd'}} ({{singer.birth | date:'yyyy' | age}}歲)</div>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="showModal('detail','歌手詳細資訊',singer)"
    >
      <i nz-icon nzType="search"></i>
    </button>
    <button
      nz-button
      nzType="primary"
      style="background-color: #ffe58f; color: #000; border: 0;"
      nzShape="circle"
      (click)="showModal('edit','修改歌手資訊',singer)"
    >
      <i nz-icon nzType="edit"></i>
    </button>
  </div>
</div>
