<div class="m-10">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal('create','新增團體資訊')"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增團體
</button>
</div>

<ng-container *ngIf="groups$ | async as groups; else empty">
  <div class="singer" nz-row>
    <app-group-card
      *ngFor="let v of groups"
      nz-col
      [goToRoute]="goToRoute"
      [group]="v"
      [showModal]="showModal"
    ></app-group-card>
  </div>
</ng-container>

<ng-template #empty>
  <app-loading></app-loading>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle={{modalTitle}}
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  >

  <ng-container *ngIf="modalType === 'create'">
      <app-group-form
        [singers]="singers$ | async"
        [sounds]="sounds$ | async"
      ></app-group-form>
  </ng-container>
  <ng-container *ngIf="modalType === 'detail'">
    <app-group-detail
      [group]="group"
    ></app-group-detail>
  </ng-container>
</nz-modal>
