<div class="insert">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal()"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增團體
</button>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增團體資訊"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  >
  <app-group-form
    [singers]="singers$ | async"
    [sounds]="sounds$ | async"
  ></app-group-form>
</nz-modal>
<ng-container *ngIf="groups$ | async as groups; else empty">
  <div class="singer" nz-row>
    <app-group-card
      *ngFor="let v of groups"
      nz-col
      [goToRoute]="goToRoute"
      [group]="v"
    ></app-group-card>
  </div>
</ng-container>

<ng-template #empty>
  <app-loading></app-loading>
</ng-template>
