<div class="sound">
  <div class="soundInfo">
    <div>
      <h3>{{sound.name}}</h3>
      <p>歌手：{{sound.cover}}</p>
    </div>
    <div>
      <p>發行年份：{{sound.publishYear}}</p>
      <p>電影原聲帶：{{sound.ost}}</p>
    </div>
    <button
        nz-button
        class="search"
        nzType="primary"
        nzShape="circle"
        (click)="showModal('detail','歌曲詳細資訊',sound)"
      >
        <i nz-icon nzType="search"></i>
      </button>
      <button
        nz-button
        nzType="primary"
        style="background-color: #ffe58f; color: #000; border: 0;"
        nzShape="circle"
        (click)="showModal('edit','修改歌曲資訊',sound)"
    >
      <i nz-icon nzType="edit"></i>
    </button>
    <app-collect-button
      [collectItem]="collectItem"
      [targetId]="sound.id"
      [collection]="collection">
    </app-collect-button>
  </div>
</div>
