.sound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;

  .soundInfo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #aac;

    div {
      width: calc(100% / 4);
      padding: 10px;
    }

    p {
      margin: 0;
    }

    .search {
      margin: 10px;
    }
  }
}
