
<ng-container *ngIf="collection$ | async as collections; else empty">
  <nz-collapse>
    <nz-collapse-panel
      *ngFor="let v of collections"
      [nzHeader]="v.name"
      [nzExtra]="extra"
    >
    <ng-container *ngIf="v.sounds.length ; else none">
      <ng-container *ngFor="let x of v.sounds">
        <nz-tag>
          <div>{{x.name}}</div>
          <div>{{x.id}}</div>
        </nz-tag>
      </ng-container>
    </ng-container>
    </nz-collapse-panel>
  </nz-collapse>
</ng-container>

<ng-template #extra>
  <i
    nz-icon
    nzType="setting"
    (click)="$event.stopPropagation()">
  </i>
</ng-template>

<ng-template #none>
  <p>目前尚無收藏歌曲</p>
</ng-template>

<ng-template #empty>
  <app-loading></app-loading>
</ng-template>
