<nz-header class="header">
  <div style="float: left;" (click)="goToRoute(['/'])">
    <img src="assets/music.png" width="50" >
  </div>
  <ng-container *ngIf="isMobile else web">
    <div style="float: right;">
      <i style="font-size: larger; color: #fff;" nz-icon nzType="menu-unfold" (click)="showDrawer()" nzTheme="outline"></i>
    </div>
    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="歌曲推薦"
      (nzOnClose)="close()"
    >
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item (click)="goToRoute(['/'],close())">回首頁</li>
      <li nz-menu-item (click)="goToRoute(['sound'],close())">歌曲列表</li>
      <li nz-menu-item (click)="goToRoute(['singer'],close())">歌手列表</li>
      <li nz-menu-item (click)="goToRoute(['group'],close())">團體列表</li>
    </ul>
    </nz-drawer>
  </ng-container>
</nz-header>


<ng-template #web>
  <div style="float: right;">
    <nz-avatar
      nzSize="large"
      class="memberInfo"
      nzText="Y"
      nz-popover
      nzPopoverTrigger="click"
      [(nzPopoverVisible)]="popoverVisible"
      [nzPopoverContent]="extraSetting"
    ></nz-avatar>
    <ng-template #extraSetting>
      <ul nz-menu >
        <li nz-menu-item (click)="handleOpenModal(1)"><i nz-icon nzType="edit"></i>修改密碼</li>
        <li nz-menu-item (click)="handleOpenModal(2)"><i nz-icon nzType="user"></i>修改個人資訊</li>
        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout"></i>登出</li>
      </ul>
    </ng-template>
  </div>
  <ul style="text-align: center;" nz-menu nzTheme="dark"  nzMode="horizontal">
    <li nz-menu-item (click)="goToRoute(['sound'])">歌曲列表</li>
    <li nz-menu-item (click)="goToRoute(['singer'])">歌手列表</li>
    <li nz-menu-item (click)="goToRoute(['group'])">團體列表</li>
  </ul>
</ng-template>

  <container-element [ngSwitch]="modalNumber">
    <nz-modal
      [(nzVisible)]="modalVisible"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOnOk()"
      nzWidth="500px"
    >
    <some-element *ngSwitchCase="1">
        <app-reset-password-form
          [isMobile]="isMobile"
        ></app-reset-password-form>
    </some-element>
    <some-element *ngSwitchCase="2">
      修改個人資訊
    </some-element>
  </nz-modal>
  </container-element>
