<nz-header class="header">
  <div style="float: left;" (click)="goToRoute(['/'])">
    <img src="assets/music.png" width="50" >
  </div>
  <ng-container *ngIf="isMobile else web">
    <div style="float: right;">
      <i style="font-size: larger; color: #fff;" nz-icon nzType="menu-unfold" (click)="showDrawer()" nzTheme="outline"></i>
    </div>
    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="歌曲推薦"
      (nzOnClose)="closeDrawer()"
    >
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item (click)="goToRouteHandler(['/'])">回首頁</li>
      <li nz-menu-item (click)="goToRouteHandler(['sound'])">歌曲列表</li>
      <li nz-menu-item (click)="goToRouteHandler(['singer'])">歌手列表</li>
      <li nz-menu-item (click)="goToRouteHandler(['group'])">團體列表</li>
      <li nz-menu-item (click)="goToRouteHandler(['collection'])">我的收藏</li>
      <ng-container *ngIf="memberInfo.id">
        <li nz-menu-item ><nz-divider></nz-divider></li>
        <li nz-menu-item (click)="handleOpenModal('reset','變更密碼',closeDrawer())">修改密碼</li>
        <li nz-menu-item (click)="handleOpenModal('profile','修改個人資訊',closeDrawer())">修改個人資訊</li>
        <li nz-menu-item (click)="goToRouteHandler(['auth','login'])">登出</li>
      </ng-container>
    </ul>
    </nz-drawer>
  </ng-container>
</nz-header>

<ng-template #web>
  <div style="float: right;">
    <nz-avatar
      nzSize="large"
      class="memberInfo"
      nzText="{{memberInfo.name | slice:0:1 }}"
      nz-popover
      nzPopoverTrigger="click"
      [(nzPopoverVisible)]="popoverVisible"
      [nzPopoverContent]="extraSetting"
    ></nz-avatar>
    <ng-template #extraSetting>
      <ul nz-menu >
        <li nz-menu-item (click)="handleOpenModal('reset','變更密碼')"><i nz-icon nzType="edit"></i>修改密碼</li>
        <li nz-menu-item (click)="handleOpenModal('profile','修改個人資訊')"><i nz-icon nzType="user"></i>修改個人資訊</li>
        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout"></i>登出</li>
      </ul>
    </ng-template>
  </div>
  <ul style="text-align: center;" nz-menu nzTheme="dark"  nzMode="horizontal">
    <li nz-menu-item (click)="goToRouteHandler(['sound'])">歌曲列表</li>
    <li nz-menu-item (click)="goToRouteHandler(['singer'])">歌手列表</li>
    <li nz-menu-item (click)="goToRouteHandler(['group'])">團體列表</li>
    <li nz-menu-item (click)="goToRouteHandler(['collection'])">我的收藏</li>
  </ul>
</ng-template>
  <!-- 共用 modal 區 -->
    <nz-modal
      [(nzVisible)]="modalVisible"
      nzTitle={{modalTitle}}
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOnOk()"
      nzWidth="500px"
    >
    <ng-container *ngIf="modalType === 'reset'">
      <app-reset-password-form
        [isMobile]="isMobile"
      ></app-reset-password-form>
    </ng-container>
    <ng-container *ngIf="modalType === 'profile'">
    <app-update-profile-form
        [memberInfo]="memberInfo"
      >
      </app-update-profile-form>
    </ng-container>
  </nz-modal>
