  <form nz-form nzLayout="vertical" [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
    <nz-form-item>
      <nz-form-label>信箱：</nz-form-label>
      <nz-form-control nzErrorTip="請輸入信箱">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="信箱" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>密碼：</nz-form-label>
      <nz-form-control nzErrorTip="請輸入密碼">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="密碼" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row  class="login-form-margin">
      <div nz-col [nzSpan]="6">
        <a [routerLink]="'register'">註冊</a>
      </div>
      <div nz-col [nzSpan]="6">
        <a class="login-form-forgot" [routerLink]="'forget'">忘記密碼</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登入</button>
  </form>
