<div class="m-10">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal('create','新增歌手資訊')"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增歌手
</button>
</div>

<ng-container *ngIf="singers$ | async as singers; else empty">
  <div class="singer" nz-row>
      <app-singer-card
        *ngFor="let v of singers"
        nz-col
        [nzLg]="24"
        [nzXs]="24"
        [singer]="v"
        [goToRoute]="goToRoute"
        [showModal]="showModal"
      ></app-singer-card>
  </div>
  <app-pagination
    [totalQuantity]="50"
  ></app-pagination>
</ng-container>

<ng-template #empty>
  <app-loading></app-loading>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle={{modalTitle}}
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *ngIf="modalType === 'create'">
    <app-singer-form
      [groups]="groups$ | async"
    ></app-singer-form>
  </ng-container>
  <ng-container *ngIf="modalType === 'detail'">
    <app-singer-detail
      [singer]="singer"
    ></app-singer-detail>
  </ng-container>
  <ng-container *ngIf="modalType === 'edit'">
    <app-singer-form
      [groups]="groups$ | async"
      [singer]="singer"
    ></app-singer-form>
  </ng-container>
</nz-modal>
