<div class="insert">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal()"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增歌手
</button>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增歌手資訊"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <app-singer-form
    [groups]="groups$ | async"
  ></app-singer-form>
</nz-modal>

<ng-container *ngIf="singers$ | async as singers; else empty">
  <div class="singer" nz-row>
      <app-singer-card
        *ngFor="let v of singers"
        nz-col
        [nzLg]="24"
        [nzXs]="24"
        [singer]="v"
        [goToRoute]="goToRoute"
        (clickEvent)="singerHandler($event)"
      ></app-singer-card>
  </div>
  <app-pagination
    [totalQuantity]="50"
  ></app-pagination>
</ng-container>

<ng-template #empty>
  <app-loading></app-loading>
</ng-template>
