<form
  nz-form
  nzLayout="horizontal"
  [formGroup]="groupForm"
  class="group-form"
>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="avatar">團體封面</nz-form-label>
    <nz-form-control nzErrorTip="團體封面為必填">
      <input
        type="file"
        formControlName="avatar"
        style="display: none;"
        accept="image/jpeg,image/png"
        #upload
        (change)="handleChange($event)"
      >
      <button
        nz-button
        nzType="upload"
        (click)="upload.click()"
      >
        <i nz-icon nzType="upload"></i>
        上傳圖片
      </button>
      <ng-container *ngIf="thumbUrl">
        <div class="upload">
          <img
            width="100"
            src={{thumbUrl}}
            alt={{imageName}}
        />
          <div>
            {{imageName | slice : 0: 10}}.{{imageExtension}}
          </div>
          <button
            nz-button
            style="border: 0;"
            (click)="handleRemove($event)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
        <nz-progress
          nzSize="small"
          [nzPercent]="progress"
          nzStrokeColor="#1890ff"
        >
        </nz-progress>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="name">團體名稱</nz-form-label>
    <nz-form-control nzErrorTip="團體名稱為必填">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="name"
          placeholder="請輸入團體名稱"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="biography">團體簡介</nz-form-label>
    <nz-form-control nzErrorTip="團體簡介為必填">
      <nz-input-group>
        <textarea
          nz-input
          formControlName="biography"
          placeholder="請輸入團體簡介"
        >
      </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="singerId">旗下藝人</nz-form-label>
    <nz-form-control nzErrorTip="旗下藝人為必選">
      <nz-select
        nzShowSearch
        formControlName="singerId"
        nzAllowClear
        [nzMode]="'multiple'"
        nzPlaceHolder="選擇旗下藝人"
      >
        <nz-option
          *ngFor="let v of singers"
          [nzLabel]="v.name"
          [nzValue]="v.id"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="soundId">創作歌曲</nz-form-label>
    <nz-form-control nzErrorTip="創作歌曲為必選">
      <nz-select
        nzShowSearch
        formControlName="soundId"
        nzAllowClear
        [nzMode]="'multiple'"
        nzPlaceHolder="選擇創作歌曲"
      >
        <nz-option
          *ngFor="let v of sounds"
          [nzLabel]="v.name"
          [nzValue]="v.id"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="publishYear">出道日期</nz-form-label>
    <nz-form-control nzErrorTip="出道日期為必選">
      <nz-date-picker
        style="width: 100%;"
        formControlName="publishYear"
        [nzFormat]="'yyyy/MM'"
      >
    </nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="country">團體國籍</nz-form-label>
    <nz-form-control nzErrorTip="團體國籍為必選">
      <nz-select
        nzShowSearch
        formControlName="country"
        nzAllowClear
        nzPlaceHolder="選擇國籍"
      >
        <nz-option
          *ngFor="let v of countries"
          [nzLabel]="v.label"
          [nzValue]="v.value"
        ></nz-option>
      </nz-select>
  </nz-form-control>
  </nz-form-item>
</form>
