<form
  nz-form
  nzLayout="horizontal"
  [formGroup]="singerForm"
  class="singer-form"
>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="avatar">歌手圖片</nz-form-label>
    <nz-form-control nzErrorTip="歌手圖片為必填">
      <input
        type="file"
        formControlName="avatar"
        style="display: none;"
        accept="image/jpeg,image/png"
        #upload
        (change)="handleChange($event)"
      >
      <button
        nz-button
        nzType="upload"
        (click)="upload.click()"
      >
        <i nz-icon nzType="upload"></i>
        上傳圖片
      </button>
      <ng-container *ngIf="singer">
        <div class="upload">
          <img
            width="100"
            src={{singer.avatar}}
            alt={{singer.name}}
        />
        </div>
      </ng-container>
      <ng-container *ngIf="thumbUrl">
        <div class="upload">
          <img
            width="100"
            src={{thumbUrl}}
            alt={{imageName}}
        />
          <div>
            {{imageName | slice : 0: 10}}.{{imageExtension}}
          </div>
          <button
            nz-button
            style="border: 0;"
            (click)="handleRemove($event)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
        <nz-progress
          nzSize="small"
          [nzPercent]="progress"
          nzStrokeColor="#1890ff"
        >
        </nz-progress>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="name">歌手姓名</nz-form-label>
    <nz-form-control nzErrorTip="歌手姓名為必填">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="name"
          placeholder="請輸入歌手姓名"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="biography">歌手介紹</nz-form-label>
    <nz-form-control nzErrorTip="歌手介紹為必填">
      <nz-input-group>
        <textarea
        nz-input
        formControlName="biography"
        placeholder="請輸入介紹">
      </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="groupId">所屬團體</nz-form-label>
    <nz-form-control nzErrorTip="團體為必填">
      <nz-select
        nzShowSearch
        formControlName="groupId"
        nzAllowClear
        nzPlaceHolder="選擇團體"
      >
        <nz-option
          *ngFor="let v of groups"
          [nzLabel]="v.name"
          [nzValue]="v.id"
        >
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="nickname">歌手暱稱</nz-form-label>
    <nz-form-control nzErrorTip="歌手暱稱為必填">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="nickname"
          placeholder="歌手暱稱"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="gender">歌手性別</nz-form-label>
    <nz-form-control nzErrorTip="歌手性別為必填">
      <nz-radio-group
        formControlName="gender"
      >
        <label nz-radio nzValue="男">男</label>
        <label nz-radio nzValue="女">女</label>
      </nz-radio-group>
  </nz-form-control>
</nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="birth">出生日期</nz-form-label>
    <nz-form-control nzErrorTip="出生日期為必填">
      <nz-date-picker
        style="width: 100%;"
        formControlName="birth"
      >
    </nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="country">歌手國籍</nz-form-label>
    <nz-form-control nzErrorTip="歌手國籍為必填">
      <nz-select
        nzShowSearch
        formControlName="country"
        nzAllowClear
        nzPlaceHolder="選擇國籍"
      >
        <nz-option
          *ngFor="let v of countries"
          [nzLabel]="v.label"
          [nzValue]="v.value"
        ></nz-option>
      </nz-select>
  </nz-form-control>
  </nz-form-item>
</form>
