<nz-layout class="layout">
  <div class="cover"></div>
  <nz-card class="login-card">
    <nz-card-tab>
      <nz-tabset
        nzSize="large"
        [nzSelectedIndex]="currentSelectIndex"
        (nzSelectChange)="handleChangeTab($event)"
      >
        <nz-tab nzTitle="會員登入"></nz-tab>
        <nz-tab nzTitle="忘記密碼"></nz-tab>
      </nz-tabset>
    </nz-card-tab>
    <container-element [ngSwitch]="currentSelectIndex">
      <some-element *ngSwitchCase="0">
        <app-login-form
          [isMoblie]="isMoblie"
          [onSubmit]="onSubmit"
        ></app-login-form>
      </some-element>
      <some-element *ngSwitchCase="1">
        <app-forget-password-form
          [isMobile]="isMoblie"
          [onSubmit]="onSubmit"
        >
        </app-forget-password-form>
      </some-element>
    </container-element>
  </nz-card>
</nz-layout>
