<form nz-form nzLayout="vertical" [formGroup]="resetPasswordForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label>舊密碼：</nz-form-label>
    <nz-form-control nzErrorTip="請輸入您的舊密碼">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="密碼"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>新密碼：</nz-form-label>
    <nz-form-control nzErrorTip="請輸入您的新密碼">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="密碼"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>再次輸入新密碼：</nz-form-label>
    <nz-form-control [nzErrorTip]="error">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="againPassword"
          placeholder="密碼"
          (ngModelChange)="updateConfirmValidator()"
        />
        <ng-template #error let-control>
          <ng-container *ngIf="control.hasError('confirm')">
            輸入的密碼不一致
          </ng-container>
      </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="reset-password-form-button reset-password-form-margin" [nzType]="'primary'">更新密碼</button>
</form>
