<div class="m-10">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal('create','新增歌曲資訊')"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增歌曲
</button>
</div>

<ng-container  *ngIf="items$ | async as items; else empty">
  <div class="sound" nz-row>
    <app-card
      *ngFor="let v of items.sounds"
      nz-col
      [nzLg]="24"
      [nzXs]="24"
      [sound]="v"
      [showModal]="showModal"
      (clickEvent)="handler($event)"
    >
      <app-collect-button
        [collectItem]="collectItem"
        [deleteItem]="deleteItem"
        [collect]="collect"
        [targetId]="v.id"
        [collection]="items.collections"
      ></app-collect-button>
    </app-card>
</div>
</ng-container>

<ng-template #empty>
  <nz-skeleton
    [nzActive]="true"
    *ngFor="let number of [1,2,3]"
  ></nz-skeleton>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle={{modalTitle}}
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
<ng-container *ngIf="modalType === 'create'">
  <app-sound-form
    [singers]="singers$ | async"
  >
  </app-sound-form>
</ng-container>
<ng-container *ngIf="modalType === 'detail'">
  <app-sound-detail
    [sound]="sound"
  ></app-sound-detail>
</ng-container>
<ng-container *ngIf="modalType === 'edit'">
  <app-sound-form
    [singers]="singers$ | async"
    [sound]="sound"
  >
  </app-sound-form>
</ng-container>
</nz-modal>
