<div style="margin: 10px;">
  <button
    nz-button
    [nzType]="'primary'"
    (click)="showModal()"
    >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    新增歌曲
</button>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增歌曲資訊"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container>
  </ng-container>
</nz-modal>

<ng-container  *ngIf="sounds$ | async as sounds; else empty">
  <div class="sound" nz-row>
    <app-card
      *ngFor="let v of sounds"
      nz-col
      [nzLg]="24"
      [nzXs]="24"
      [sound]="v"
      [cb]="callbackFn"
      (clickEvent)="handler($event)"
    ></app-card>
</div>
</ng-container>

<ng-template #empty>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
